/* describe('Testa o service dos investimentos', () => {
  describe('Método venderAtivo', () => {});
  describe('Método comprarAtivo', () => {});
  describe('Método listarInvestimento', () => {});
}); */